# Environment
COMPOSE_PROJECT_NAME=ziggurat-os
DS_PORT=8000
DS_INNER_PORT=8080
DS_IP=173.23.0.8
DS_HOST=ds:${DS_INNER_PORT}
SHARED_DOC=../../volumes/shared-documents

# Используется только при автономном запуске
SUBNET_IP=173.23.0.0
SUBNET_MASK=24
GATEWAY=173.23.0.1
